[Desktop Entry]
Version=1.0
Name=Tutela
Comment= TUTL P2P Cryptocurrency
Comment[fr]= TUTL, monnaie virtuelle cryptographique pair à pair
Comment[tr]= TUTL, eşten eşe kriptografik sanal para birimi
Exec=tutela-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Tutela-qt
