policy_module(tutela, 1.100.1)

########################################
#
# Declarations
#

type tutela_t;
type tutela_exec_t;
init_daemon_domain(tutela_t, tutela_exec_t)

permissive tutela_t;

type tutela_initrc_exec_t;
init_script_file(tutela_initrc_exec_t)

type tutela_conf_t;
files_type(tutela_conf_t)

type tutela_var_lib_t;
files_type(tutela_var_lib_t)

type tutela_var_run_t;
files_type(tutela_var_run_t)

type tutela_port_t;
corenet_port(tutela_port_t)

########################################
#
# tutela local policy
#
allow tutela_t self:process { fork };

allow tutela_t self:fifo_file rw_fifo_file_perms;
allow tutela_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(tutela_t, tutela_conf_t, tutela_conf_t)
manage_files_pattern(tutela_t, tutela_conf_t, tutela_conf_t)

manage_dirs_pattern(tutela_t, tutela_var_lib_t, tutela_var_lib_t)
manage_files_pattern(tutela_t, tutela_var_lib_t, tutela_var_lib_t)
files_var_lib_filetrans(tutela_t, tutela_var_lib_t, { dir file })

manage_dirs_pattern(tutela_t, tutela_var_run_t, tutela_var_run_t)
manage_files_pattern(tutela_t, tutela_var_run_t, tutela_var_run_t)

sysnet_dns_name_resolve(tutela_t)
corenet_all_recvfrom_unlabeled(tutela_t)

allow tutela_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(tutela_t)
corenet_tcp_sendrecv_generic_node(tutela_t)
corenet_tcp_sendrecv_all_ports(tutela_t)
corenet_tcp_bind_generic_node(tutela_t)

gen_require(`
    type tutela_port_t;
')
allow tutela_t tutela_port_t:tcp_socket name_bind;

gen_require(`
    type tutela_port_t;
')
allow tutela_t tutela_port_t:tcp_socket name_connect;

domain_use_interactive_fds(tutela_t)

files_read_etc_files(tutela_t)

miscfiles_read_localization(tutela_t)

sysnet_dns_name_resolve(tutela_t)

allow tutela_t tutela_exec_t:file execute_no_trans;
allow tutela_t self:process setsched;
corecmd_exec_ls(tutela_t)
corenet_tcp_connect_http_port(tutela_t)
dev_read_urand(tutela_t)
fs_getattr_xattr_fs(tutela_t)
kernel_read_system_state(tutela_t)
