# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Tutela Core
Comment=Tutela Core QT main network
GenericName=Tutela Digital Currency QT client main network
Exec=tutela-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/tutela.png
MimeType=x-scheme-handler/tutela;
Categories=X-Office;X-Finance;
Keywords=internet;tutela;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=tutela-qt.desktop
